@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/BricolageGrotesque-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
