---
import BaseLayout from "@layouts/BaseLayout.astro";
import { MobileAppDownloadButton } from "@components/MobileAppDownloadButton";
---

<BaseLayout>
  <div class="flex flex-col gap-20">
    <section class="flex flex-col text-center items-center gap-6 pt-3">
      <img src="/promo-header.webp" class="w-full object-contain" />

      <div class="space-y-2">
        <h1
          class="font-satoshi text-4xl max-w-4xl font-extrabold leading-tight"
        >
          The best way to create QR codes
        </h1>

        <p class="max-w-lg lg:max-w-2xl text-md text-black/70">
          The ultimate app for creating highly customizable QR codes to share
          your best work with the world. Choose from a variety of templates and
          export your QR codes in high resolution to your preferred format.
        </p>
      </div>

      <MobileAppDownloadButton client:load />
    </section>

    <section class="flex justify-between w-full flex-wrap px-12 gap-y-3">
      <div class="flex flex-col items-center text-center gap-1">
        <p class="text-3xl font-black">7+</p>
        <p class="text-[12px] text-black/50 font-semibold">TEMPLATES</p>
      </div>
      <div class="flex flex-col items-center text-center gap-1">
        <p class="text-3xl font-black">15+</p>
        <p class="text-[12px] text-black/50 font-semibold">TEMPLATES</p>
      </div>
      <div class="flex flex-col items-center text-center gap-1">
        <p class="text-3xl font-black">3</p>
        <p class="text-[12px] text-black/50 font-semibold">EXPORT FORMATS</p>
      </div>
    </section>

    <section class="items-center text-center space-y-8">
      <p class="sm:text-4xl text-2xl font-bold leading-tight">
        ✨ The easiest way to create QR codes
      </p>

      <div class="grid grid-cols-2 gap-4">
        <div
          class="rounded-2xl overflow-hidden bg-black bg-opacity-5 col-span-2 md:col-span-1 flex flex-start flex-col text-start p-8 gap-2"
        >
          <img
            class="w-12 h-12"
            src="/features/templates.svg"
            alt="More to be announced"
          />
          <div>
            <h4 class="text-lg font-bold">
              Share your work in your favourite format
            </h4>
            <p class="text-md satoshi-font text-gray-700">
              QReate provides 7+ templates to choose from.
            </p>
          </div>
        </div>

        <div
          class="rounded-2xl overflow-hidden bg-black bg-opacity-5 col-span-2 md:col-span-1 flex flex-start flex-col text-start p-8 gap-4"
        >
          <img
            class="w-10 h-10"
            src="/features/export.svg"
            alt="More to be announced"
          />
          <div>
            <h4 class="text-lg font-bold">Export in your format of choice</h4>
            <p class="text-md satoshi-font text-gray-700">
              QReate allows you to export your QR codes in 3 different formats:
              PNG, JPEG and SVG.
            </p>
          </div>
        </div>

        <div
          class="rounded-2xl overflow-hidden bg-black bg-opacity-5 col-span-2 md:col-span-1 flex flex-start flex-col text-start p-8 gap-4"
        >
          <img
            class="w-10 h-10"
            src="/features/safari.svg"
            alt="More to be announced"
          />
          <div>
            <h4 class="text-lg font-bold">
              QR Codes, directly from your browser
            </h4>
            <p class="text-md satoshi-font text-gray-700">
              QReate comes with a browser extension that allows you to create QR
              codes for any website you visit.
            </p>
          </div>
        </div>

        <div
          class="rounded-2xl overflow-hidden bg-black bg-opacity-5 col-span-2 md:col-span-1 flex flex-start flex-col text-start p-8 gap-4"
        >
          <img
            class="w-10 h-10"
            src="/features/secure.svg"
            alt="More to be announced"
          />
          <div>
            <h4 class="text-lg font-bold">
              No tracking, no ads, no data collection
            </h4>
            <p class="text-md satoshi-font text-gray-700">
              We offer a user-friendly, privacy-first alternative to many other
              QR code services. Once you create a QR code, it will work forever.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div></BaseLayout
>
