---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Privacy" description="Privacy policy">
    <article class="my-12 flex flex-col items-start relative gap-12">
        <header class="space-y-2">
            <h1
                class="font-satoshi text-4xl max-w-4xl font-extrabold leading-tight"
            >
                Privacy Policy
            </h1>
            <p class="max-w-2xl satoshi-font">
                Last updated: September 8, 2024
            </p>
        </header>

        <p class="max-w-2xl satoshi-font">
            This Privacy Policy describes how <b>App Diggers S.L.U.</b> ("us", "we",
            or "our") collects, uses, and handles your data when you use our <b
                >QReate</b
            >
            app ("Service").
        </p>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">
                1. Information Collection and Use
            </h2>
            <p class="max-w-2xl">
                We are committed to protecting your privacy. When you use our
                Service, we do not collect <b>any personal information</b>. We
                collect basic usage data such as app interactions and feature
                usage which are strictly used to enhance and improve our
                Service. This data is always anonymized, ensuring that it cannot
                be traced back to any individual user.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">2. Anonymization of Data</h2>
            <p class="max-w-2xl">
                All user data collected is immediately anonymized. We ensure
                that the identities of our users are not discernible from the
                data we collect.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">3. Use of Data</h2>
            <p class="max-w-2xl">
                The data we collect is used solely for the purpose of enhancing
                the functionality and performance of the Service. This includes:
            </p>
            <ul class="list-inside space-y-2" style={{ listStyle: "disc" }}>
                <li class="">
                    Analyzing usage patterns to improve app features and user
                    interface.
                </li>
                <li>
                    Identifying popular features to prioritize development and
                    improvements.
                </li>
            </ul>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">4. Diagnostics and Logs</h2>
            <p class="max-w-2xl">
                Diagnostics and system logs are generated only upon your
                request. These are used for troubleshooting and improving the
                app's functionality and are not used for any other form of
                tracking.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">5. Data Sharing</h2>
            <p class="max-w-2xl">
                We do not share any personal or anonymized data with third
                parties. Your data remains confidential and is only used to
                support your experience within the app.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">6. Security</h2>
            <p class="max-w-2xl">
                We are dedicated to ensuring the security of your data. We
                implement a variety of security measures to maintain the safety
                of your personal information when you use our Service.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">7. Children's Privacy</h2>
            <p class="max-w-2xl">
                We do not knowingly collect personally identifiable information
                from any user, including children under 13.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">
                8. Changes to This Privacy Policy
            </h2>
            <p class="max-w-2xl">
                We may update our Privacy Policy from time to time. We will
                notify you of any changes by posting the new Privacy Policy on
                this page. You are advised to review this Privacy Policy
                periodically for any changes. Changes to this Privacy Policy are
                effective when they are posted on this page.
            </p>
        </section>

        <section class="space-y-2">
            <h2 class="text-2xl font-bold">Contact Us</h2>
            <p class="max-w-2xl">
                If you have any questions about these Terms and Conditions.
            </p>

            <p class="mb-5 max-w-2xl">
                You can contact us by email: <a
                    href="mailto:pol@appdiggershq.com"
                    class="text-blue-600 cursor-pointer hover:opacity-40"
                    >pol@appdiggershq.com</a
                >
            </p>
        </section>
    </article>
</BaseLayout>
