---
import { AppDownloadButton } from "./AppDownloadButton";
---

<header>
    <nav class="flex justify-between items-center">
        <a class="flex gap-2 items-center font-satoshi" href="/">
            <img
                class="w-8 h-8 rounded-lg"
                src="/qreate-logo.webp"
                alt="QReate"
            />
            <p class="font-satoshi font-bold">QReate</p>
        </a>

        <div class="relative sm:hidden">
            <button
                data-collapse-toggle="navbar-default"
                type="button"
                class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="navbar-default"
                aria-expanded="false"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 17 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M1 1h15M1 7h15M1 13h15"></path>
                </svg>
            </button>
            <div class="hidden absolute text-end right-0" id="navbar-default">
                <ul
                    class="font-medium bg-gray-50 rounded-lg mt-2 gap-6 py-2 flex flex-col items-end"
                >
                    <li class="text-right hover:bg-gray-200 py-1 w-32">
                        <a href="#" class="pr-3" aria-current="page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="font-medium
            text-black
            70
            space-x-5
            hidden
            sm:block"
        >
            <a
                class="hover:text-black/50 transition-colors"
                href="mailto:pol@appdiggershq.com">Contact</a
            >
        </div>

        <div class="hidden sm:block">
            <AppDownloadButton client:load />
        </div>
    </nav>
</header>
